{%extends 'Kairat/layout.html' %}

{%block title %}
    <title>FC Kairat</title>
{%endblock%}

{% block content %}
    <div class="features">
        <h1>ALMAU страница</h1>
        <p>Алматы Менеджмент Университет –
            предпринимательский, социально-ответственный университет мирового класса

Более 35 лет на рынке образования, старейший частный вуз страны, 1-ая бизнес-школа Республики Казахстан, пионер бизнес-образования в СНГ. На счету университета – обучение менеджменту первых казахстанских предпринимателей, первые программы МВА и DBA в РК, лучшие преподаватели и востребованные выпускники.</p>
    </div>
{% endblock %}